@font-face{
  font-family:'Dosis-Medium';
  src:url('../font/Dosis-Medium.ttf');
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('../font/NanumSquareR.otf');
}
html, body {
  margin: 0;
  font-family: 'Dosis-Medium', 'NanumSquareR';
  
  min-height: 500px;
  height: 100%;
  background-image: url("../img/startup-593327_1920.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}
hr{
  border-color: #c9851e;
  
}
.bodyblack{
  background-color: rgba(30, 31, 30, 0.87);
}
.nopadding {
  padding: 0px;
}
.nomargin {
  margin:0px;
}

.navbar_box{
  width: 100%;
  background-color: rgba(45, 170, 14, 0.55);
  padding: 0;
}
.navbar_box_content{
    text-align: center;
    color:rgb(34, 34, 34);
}

.background_img{
  min-height: 500px;
}
.Main_box{
  position: absolute;
  margin-top:1%;
  margin-bottom:1%;
  border-radius: 5px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}
.Main_box_Wrapper{
  margin: 5%;
}
.Main_box_imgbox{
  margin-top:1%;
  text-align: center;

}
.profile_img{
  width:80%;
  border-radius: 10px;
}
.Main_box_content{
  color:  #c9851e;
  margin-top: 10%;
  
}

.social_btns_box{
  text-align: center;
  margin-top: 5%;
}
.btns{
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  margin:1%;
  padding-top:4px;
  padding-bottom:4px;
  padding-right:16px;
  padding-left:16px;
  transition: color 0.5s, border 0.5s;
  color: rgb(40,40,40);
}
.social_btns{
    font-size: 40px;
}
.btns:hover{
    color: #c9851e;
    border: 1px solid rgb(204, 204, 204);
}
/*#D24D57*/

.Main_box_tag{
  margin-top:0px;
  color: #c9851e;
}
.Main_box_text{
  font-size: 15px;
  margin-top:0px;
  line-height: 30px;
  color:black;
}

.Content_btns_box{
  text-align: center;
  margin-top: 5%;
}
.content_btns{
  font-size: 18px;
}
.AboutME_title{
  text-align: center;
  margin-top:5%;
  margin-bottom: 5%;
}
.back_btns{
  font-size: 16px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.MyInfobox{
  border: 1px solid white;

}
.MyInfo_Wrppaer{
  margin:2%;
}
.ActivityBox{
  margin-top: 5%;
  margin-bottom: 5%;
}
.Activity{
  margin-top:2%;
  margin-bottom:5%;
}
.Activity_list{
  padding-bottom : 1%;

  font-size: 14px;
}
.Activity_list_date{
  color:#c9851e;
}
.posts_box{
  margin-top: 4%;
}
.Myactivitys{
  margin-top: 3%;
  padding: 5px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: #333;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(64,63,64,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(64,63,64,1);
  box-shadow: 10px 10px 5px 0px rgba(64,63,64,1);
  cursor: pointer;
}
.posts_texts{
  text-align: center;
}
.posts_img{
  width:100%;
}
.posts_title{
  font-size: 20px;
}
.experiences{
  height: 300px;
  overflow: hidden;
}
.dialog{
  color: white;
  font-family: 'Dosis-Medium', 'NanumSquareR';
  
}
.ui-dialog .ui-dialog-title {
  width: 100%;
  color: white;
  font-family: 'Dosis-Medium', 'NanumSquareR';
}
.ui-dialog-titlebar{
  text-align: center;
}

.ui-widget-content{
  background-color: #606060;
}
.ui-widget-header{
    font-size: 25px;
    background-color: #606060;
    border: 1px solid #606060;
}
.dialog_bigwidthimgbox{
  max-width: 800px;
}
.dialog_bigheightimgbox{
  width:30%;
  margin-left: 35%;
}
.dialog_text{
  margin-top:2%;

}
.bigheight{
  max-width: 800px;
}
